<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>



    <div class="aboutuspage">
    <p class="generalInformation">
      When you meet with a Registered Dietitian (RD), you are meeting with
      a nutrition expert. An RD has studied nutrition at an approved
      university and completed a supervised practice program, and passed
      an exam. RDs are required to complete at least 15 continuing education credits annually
    </p>

    <div class="aboutKay">
      <img src="http://i.imgur.com/Xyat8pA.jpg" class="imagesabout" alt="" />

      <p class="centeredText">
        Kay Pratt
      </p>
      <p>
        Bachelor of Science Degree in Food Science and Nutrition from Colorado State University
        Master of Science Degree in Human Nutrition from The Ohio State University
        Kay is a Registered Dietitian, a Licensed Dietitian Nutritionist,
        a Certified Wellness Coach, and a Certified Nutrition Support Clinician.
        Kay has worked in the field of nutrition for over 25 years. She has worked in
        the field of dietetics for over 20 years. She has worked at UNC and Duke Hospitals,
        has worked in the area of home health, wellness and in academics. She has worked with adults,
        premature babies, pediatrics and adolescents.
      </p>
      <p>
        For the past 25 years Kay has worked in hospitals, home care, and corporate
        wellness and has taught at both undergraduate and graduate school at UNC
        Chapel Hill and North Carolina Central University.
        Essential Nutrition works with adults, children, teens and families. We
        believe that food and eating are important parts of our lives and should
        be enjoyed but should not generally rule or control us. For most people,
        healthy eating can be flexible.
        Kay is the mother of two college age girls and enjoys an active lifestyle.
        She loves to be in or on the water and regularly swims with a master’s group.
        She also has done plenty of boogie boarding, windsurfing, kayaking, white water
        rafting or canoeing and once even lived on a sailboat in the Caribbean. She
        also runs and bikes in order to train for a couple annual sprint triathlons.
        Kay also plays volleyball on a neighborhood sand court. Vacations often include
        hiking with her husband, two teenage daughters and dog. They have backpacked
        in the Appalachians, Rocky Mountains, Grand Tetons, Yellowstone and White Mountains as well as many local trails.
        Staying healthy and active throughout life is important to Kay. She wants to
        be able to see her children grow, graduate from college, marry, and have children.
        “It’s not that I want to live forever, but as long as I am alive, I want to be
        able to be mobile, active and independent.” Through teaching people about good
        nutrition, Kay hopes to help others to achieve some of these same goals.
        Kay wants to help people transform their lives through natural means by eating
        and exercising in a moderate healthful way.
      </p>
    </div>

    <div class="aboutSusan">
      <img src="http://i.imgur.com/rnVZGwy.jpg" class="imagesabout1" alt="" />
      <p class="centeredText">
        Susan Lutz
      </p>
      <p>
        Bachelor of Science Degree in Nutrition from Iowa State University
        Doctorate in Public Health Nutrition from University of North Carolina at Chapel Hill
        Susan is a Registered Dietitian and a Licensed Dietitian Nutritionist.
        She completed her internship at the Mayo Medical Complex in Rochester, Minnesota.
        Susan specializes in working with kids and teens.
      </p>
      <p>
        Susan completed her undergraduate degree with a double major in
        Family and Consumer Science Journalism and Food and Nutrition from
        Iowa State University in Ames Iowa. She received her PhD in Public Health Nutrition at UNC-Chapel Hill.
        Susan joined Essential Nutrition and Wellness, LLC in 2013. She enjoys
        counseling individuals of all ages, but specializes in pediatrics,
        adolescents and eating disorders. Susan has experience working in clinical nutrition,
        diabetes, maternal and child nutrition as well as teaching university-level nutrition courses.
        Susan is married and has four children, two in high school, one in middle school and
        one in elementary school.
      </p>
    </div>
  </div>
  </body>
</html>
