<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<ul>
  <li><a href="#link1" class="home">Essential Nutrition</a></li>
  <li><a href="#link2">About Us</a></li>
  <li><a href="#link3">Services</a></li>
  <li><a href="#link4">Recommendations</a></li>
  <li><a href="#link5">Directions</a></li>
  <li><a href="#link6">Nutrition Tips</a></li>
  <li><a href="#link7">Recipes</a></li>
  <li><a href="#link8">Wellness Coaching</a></li>
</ul>

<div id="all-div">
  <div id="link1">Essential Nutrition
    <p>
      Essential Nutrition provides nutrition counseling and wellness coaching in the Durham and Chapel Hill, NC area.
    </p>


  </div>
  <div id="link2">About Us</div>
  <div id="link3">Services</div>
  <div id="link4">Recommendations</div>
  <div id="link5">Directions</div>
  <div id="link6">Nutition Tips</div>
  <div id="link7">Recipes</div>
  <div id="link8">Wellness Coaching</div>
</div>

<a href="#" class="top">T<span>O</span>P</a>

  </body>
</html>
