<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<ul>
  <li><a href="#link1" class="home">Essential Nutrition</a></li>
  <li><a href="#link2">About Us</a></li>
  <li><a href="#link3">Services</a></li>
  <li><a href="#link4">Recommendations</a></li>
  <li><a href="#link5">Directions</a></li>
  <li><a href="#link6">Nutrition Tips</a></li>
  <li><a href="#link7">Recipes</a></li>
  <li><a href="#link8">Wellness Coaching</a></li>
</ul>

<div id="all-div">
  <div id="link1">Essential Nutrition
    <p>
      Essential Nutrition provides nutrition counseling and wellness coaching in the Durham and Chapel Hill, NC area.
    </p>


    <div class="columnsContainer">

	  	<div class="leftColumn">
        <p>
        Do you need help following a special diet for diabetes, high blood pressure,
        lowering your cholesterol, or weight loss? Do you have irritable bowel syndrome
        or other gastrointestinal problems? Do you need more energy that balanced healthy
        eating can bring? Are you trying to maximize your athletic performance through
        nutrition? Are you dealing with an eating disorder and need guidance and support
        for a healthier path? Or, do you want to improve several areas of your lifestyle and
        want guidance and coaching to meet your vision and goals?
        There are many different reasons you might seek their counseling and services.
      </p>
      <p>
        Read more about our counseling services.
        Essential Nutrition  uses scientific evidence to help you establish habits for choosing,
        preparing and eating delicious and wholesome foods. Making small, sustainable lifestyle
        changes can improve your health. We will guide and coach you to achieve your goals to better health.
        We are participating providers for BCBS, Duke and other insurance companies.
        Call or email to inquire about eligibility.
      </p>
	  	</div>

	  	<div class="rightColumn">
        <table class="contactinfo">
          <tr>
            <td>Phone:</td>
            <td class="info">919-923-6874</td>
          </tr>
          <tr>
            <td>Fax:</td>
            <td class="info">919-237-9214</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td class="info">essential@nc.rr.com</td>
          </tr>
        </table>
        <p>
          Essential Nutrition provides nutrition counseling and
          wellness coaching in the Durham and Chapel Hill, NC area.
          A staff of two specialists offer services at this site.
          Each is a licensed Dietician/Nutritionist but also have particular expertise.
          The owner, Kay Pratt, is also a Wellness Coach. Dr. Susan Lutz specializes in pediatric and adolescent nutrition.
        </p>
	  	</div>
  	</div>



  </div>
  <div id="link2">About Us</div>
  <div id="link3">Services</div>
  <div id="link4">Recommendations</div>
  <div id="link5">Directions</div>
  <div id="link6">Nutition Tips</div>
  <div id="link7">Recipes</div>
  <div id="link8">Wellness Coaching</div>
</div>

<a href="#" class="top">T<span>O</span>P</a>

  </body>
</html>
