<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
    Roasted Vegetables
  </p>
  <p>
     Roasting vegetables can add unique flavors and aromas without a lot of extra
     calories. Roasting will bring out a natural sweetness. Try these vegetables to roast
     White Potatoes, Sweet Potatoes, Brussels Sprouts, Turnips, Winter Squash,
     Eggplant, Onion, Garlic (once roasted it can be spread on bread instead of butter),
     Carrots, Cauliflower (see recipe below).
     Tips for roasting vegetables
     Cut vegetables into slices, wedges or bite sized pieces. Place in a plastic
     bag and add about 1-2 teaspoons of olive oil per cup of vegetable and shake
     to coat. You can also add seasonings like rosemary, salt, or balsamic vinegar or Italian dressing.
     Spray a baking sheet with cooking spray and add the vegetables in a single
     layer. If you want to protect the pan you can add foil or designate one pan
     for roasting vegetables and don't worry if it gets some brown areas.
     Bake vegetables in a hot oven (400 degrees) until lightly browned and tender.
     If they look like they are getting too dry add a little Italian dressing. Cook about 15-30 minutes, stir and cook another 15-30 minutes. Cooking times will very with the size of the vegetable.  A little parmesan cheese added during the last 10 minutes is a good touch especially on Brussels sprouts.
    </p>
    <p>
      Roasted Cauliflower
    </p>
    <p>
      1 head cauliflower, cut into small flowerets
2-3 cloves garlic, minced
1/2 lemon
Olive oil
Salt/Pepper
Parmesan Cheese
In a plastic bag mix 2-3 teaspoons olive oil, juice of lemon, 
garlic and a dash of salt and pepper. Add the cauliflower and coat. Empty
cauliflower on a baking sheet and bake at 400 degrees for about 20-25 minutes.
When browned and soft, sprinkle with a little parmesan and return to oven for about 5 minutes.
    </p>
  </body>
</html>
