<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "charges.css" %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <%= javascript_include_tag "forms.js" %>
  <title>Forms</title>
</head>
<body>

  <div class="container text-center">
    <a href="#" class="btn btn-responsive btn-green general-button">Nutrition Registration Information</a>
    <a href="#" class="btn btn-responsive btn-green pediatric-button">Pediatric Registration Information</a>
    <a href="#" class="btn btn-responsive btn-green teen-button">Teen Registration Information</a>
  </div>

  <div class="general-images">
    <p>Nutrition Registration Information</p>
    <img src="http://i.imgur.com/Z2mqVJm.jpg" class="general" frameborder="0"></iframe>
    <img src="http://i.imgur.com/lM8G1yO.jpg" class="general" frameborder="0"></iframe>
    <img src="http://i.imgur.com/NzozBMw.jpg" class="general" frameborder="0"></iframe>
    <img src="http://i.imgur.com/rL5rN91.jpg" class="general" frameborder="0"></iframe>
  </div>

  <div class="pediatric-images">
    <p>Pediatric Nutrition Registration</p>
    <img src="http://i.imgur.com/bazL3tc.jpg" class="pediatric" frameborder="0"></iframe>
    <img src="http://i.imgur.com/r6Zus1O.jpg" class="pediatric" frameborder="0"></iframe>
    <img src="http://i.imgur.com/oKFbOFd.jpg" class="pediatric" frameborder="0"></iframe>
  </div>

  <div class="teen-images">
    <p>Teen Nutrition Registration</p>
    <img src="http://i.imgur.com/Vy6GvCJ.jpg" class="teen" frameborder="0"></iframe>
    <img src="http://i.imgur.com/YSjVnov.jpg" class="teen" frameborder="0"></iframe>
    <img src="http://i.imgur.com/PeNPxF5.jpg" class="teen" frameborder="0"></iframe>
  </div>


</body>
</html>
