<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      What is a Wellness Coach?
    </p>
    <p>
      Coaching is an emerging profession that began about 25 years ago,
      first in executive leadership, followed by life coaching. Coaching for
      health and wellness started about ten years ago and it has been shown to
      be an effective approach to helping people make and sustain improvements in their lives.
      The relationship between a coach and client offers a profound level of
      support, guidance, and encouragement to making changes, without being judgmental.
      Coaches help their clients become clearer on where they are, where they want to go, and how to get there.
    </p>
    <p>
      Coaches provide instruction and mentoring to their clients, and
      help them set goals, define an action plan, and navigate the path until
      they reach their goals. Coaches facilitate learning and help clients put the
      learning into action. Wellness coaches work with people who want to make changes
      in their lives regarding eating, exercise and stress and generally work with
      people without mental health issues. Coaches focus on the present and help the
      client move towards the future. Coaches do not diagnose and may recommend that
      clients seek a psychologist or therapist for treatment, if appropriate.
      Kay Schlegel-Pratt became a certified wellness coach in 2009 through Wellcoaches
      Corporation.
    </p>
  </body>
</html> -->
