.hide {
  display: none;
}
.show {
  display: block;
}

.btn-green {
  background: #1ED760;
}

.btn-sm {
  font-size: 14px;
  padding: 14px 27px 13px;
  min-width: 160px;
  line-height: 1.5;
}

.btn-lg {
  font-size: 16px;
  padding: 17px 48px 15px;
  min-width: 240px;
  line-height: 1.5;
}

.btn-responsive {
  font-size: 14px;
  padding: 14px 27px 13px;
  min-width: 160px;
  line-height: 1.5;
}
@media(max-width: 500px) {
  .btn-responsive {
  width: 100%;
  line-height: 1.5;
  }
}
