.hide {
  display: none;
}
.show {
  display: block;
}

.btn-green {
  background: #dedda1;
  border-radius: 10px;
  color: black;
}

.btn-green:hover {
  background-color: rgb(40, 28, 31);
  color: white;
}

.btn-sm {
  font-size: 14px;
  padding: 14px 27px 13px;
  min-width: 160px;
  line-height: 1.5;
}

.btn-lg {
  font-size: 16px;
  padding: 17px 48px 15px;
  min-width: 240px;
  line-height: 1.5;
}

.btn-responsive {
  font-size: 14px;
  padding: 14px 27px 13px;
  min-width: 160px;
  line-height: 1.5;
}
@media(max-width: 500px) {
  .btn-responsive {
    font-size: 14px;
    margin-bottom:2em;
    padding: 0px 0px 0px;
    line-height: 0;
  }
  .btn {
    padding: 1.5em;
    color: black;
    background-color: #dedda1;
    display: inline-block;
    border-radius: 5px;
  }
}
