<!DOCTYPE html>
<html>
<head>
  <title>Essential Nutrition</title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class="background-img">
    <header>
      <h1 class="logo"><a href="/">Essential Nutrition</a></h1>
      <nav>
        <ul class="nav-bar">
          <li><a href="aboutus">About</a></li>
          <li><a href="services">Services</a></li>
          <li><a href="recommendations">Recommendations</a></li>
          <li><a href="contactus">Directions</a></li>
          <li><a href="nutritiontips">Tips and Recipes</a></li>
          <li><a href="wellnesscoaching">Forms</a></li>
        </ul>
      </nav>
    </header>

    <%= yield %>
</body>
</html>
